{% extends "base.html" %}


{% block title %}
	<title>{{ post.title }} - {{ super.post.title }}</title>    
{% endblock title %}




{% block content %}
	 <div>
        <h1><a href="{% url 'post_list_url' %}">Django Girls Blog</a></h1>
    </div>
	
	<h2 style="border-bottom: 1px solid #e7e7e7;">{{ post.title }}</h2>
	{{ post.text|linebreaksbr }}
	<br><br>
	<br><br>
	{% if user.is_authenticated %}
	<a class="btn btn-default" href="{% url 'post_edit_url' id=post.id %}"><span class="glyphicon glyphicon-pencil">edit</span></a>
	{% endif %}
{% endblock content %}